@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  --white: #FFF;
  --green: #00474B;

  --colorText: #023938;
  --colorTitle: #687B7C;
  --colorTextPrice: #28C3AD;

  --color-title-price: #EBFCFC;
  --color-subitle-price: #689AA0;

  --hover: #9FE8DF;
  --active: #26C2AD;
  --hover-input: #4D9E92;

  --botton: #0D686D;
  --botton-hover: #9FE8DF;
  --botton-active: #26C2AD;

  --background-input: #F3F8FB;
  --bill-container: #FFF;
  --body: #C5E4E7;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--body);
}





/* REGLAS GENERALES */
h2 {
  font-size: 1.2rem;
  color: var(--colorTitle);
  margin-bottom: 1rem;
}

ol {
  list-style-type: none;
}

input[type="number"] {
  width: 100%;
  outline: none;
  color: var(--colorText);
  border: .1rem solid transparent;
  border-radius: .3rem;
  background-color: var(--background-input);
}

input[type="number"]:hover {
  border-color: var(--hover-input);
}

input[type="number"]:focus {
  border-color: var(--hover-input);
}

input[type="radio"] {
  display: none;
}

.section:nth-child(1)
.container
.cant {
  text-align: right;
  font-size: 2rem;
  padding: .2rem 1rem .2rem 4rem;
  background-repeat: no-repeat;
  background-position: 1rem;
}







/* BILL CONTAINER */
.bill-container {
  width: 90%;
  max-width: 70rem;
  padding: 3rem;
  border-radius: .5rem;
  background-color: var(--white);


  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-auto-rows: auto;
  gap: 3rem;
}





/* SECTION - 1 */
.section:nth-child(1) {
  display: grid;
  gap: 3rem;
}

.section:nth-child(1)
.container:nth-child(1)
.cant {
  background-image: url("../img/icon-dollar.svg");
}

.section:nth-child(1)
.list-option {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  grid-auto-rows: 4rem;
  gap: 1rem;
}

.list-option label {
  font-size: 1.8rem;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--white);
  background-color: var(--green);
  border-radius: .3rem;
  cursor: pointer;
}

.list-option
label:hover {
  background-color: var(--hover);
  color: var(--green);
}

.list-option
input[type="radio"]:checked ~ label {
  background-color: var(--active);
  color: var(--green);
}

.list-option
input[type="number"] {
  height: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.section:nth-child(1)
.container:nth-child(3)
.cant {
  background-image: url("../img/icon-person.svg");
}






/* SECTION - 2 */
.bill-container
.section:nth-child(2) {
  padding: 2rem;
  border-radius: .5rem;
  background-color: var(--green);

  display: grid;
  grid-template-rows: repeat(2, auto) 1fr;
  gap: 1rem;
}

.bill-container
.section:nth-child(2)
.container-price {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 3rem);
}

.bill-container
.section:nth-child(2)
.container-price
span.price {
  grid-column: 2;
  grid-row: 1 / span 2;
  font-size: 3.3rem;
  font-weight: 700;
  align-self: center;
  justify-self: end;
  color: var(--colorTextPrice);
}

.bill-container
.section:nth-child(2)
.container-price
h3 {
  align-self: end;
  color: var(--color-title-price);
}

.bill-container
.section:nth-child(2)
.container-price
p {
  color: var(--color-subitle-price);
}

button.reset {
  align-self: end;
  padding: 1rem 0;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--green);
  background-color: var(--botton);
  outline: none;
}

button.reset:hover {
  background-color: var(--botton-hover);
}

button.reset:active {
  background-color: var(--botton-active);
}

